{{> main-page-navbar }}
<section class="hero">
    <div class="hero-head has-text-centered">
      <span "title="Welcome to Artinerary, this page is where you can find source material.  Click on one of the images below and it will take you to that image's page.  On that page you can check out other users' interpretations of the source image."><img class="has-ratio"
            src="https://res.cloudinary.com/pacsmack/image/upload/v1624541482/Assets/logo_transparent_szc7jp.png"></span></div>
</section>

<div class="columns is-multiline is-desktop px-5">
    {{#each images as |image|}}
    {{> all-images image}}
    {{/each}}
</div>
